table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    text-align: center;
}

input {
    width: 75%;
    text-align: center;
}

h1 {
    text-align: center;
}

#addTask {
    text-align: center;
}