html, body {
    background-color: lightcoral;
}

h1 {
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    text-align: center;
}

h1 {
    text-align: center;
}

#addTask {
    text-align: center;
}

#checkboxId {
    size: 40px;
}

.gray {
    color: lightslategray;
}